* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.header {
  background: #fff8f3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
  align-items: center;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

.nav-title-span {
  color: #fd6e0a;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 50px;
}

ul li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

.btn-primary {
  color: #ffffff;
  background: #fd6e0a;
  border-radius: 5px;
  border: 0;
  padding: 12px 30px;
  font-weight: 700;
  font-size: 20px;
}

.btn-secondary {
  color: #fd6e0a;
  background: none;
  border-radius: 5px;
  border: 1px solid #fd6e0a;
  padding: 12px 30px;
  font-weight: 700;
  font-size: 20px;
}

/* banner styles */
.banner-container {
  display: flex;
  align-items: center;
}

.banner-left {
  margin-left: 200px;
}

.img-rayhan {
  height: 300px;
  width: 320px;
}

.banner-h2 {
  color: #474747;
  font-weight: 600;
  font-size: 35px;
}

.banner-h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  color: #181818;
  margin-bottom: 10px;
}

.banner-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #757575;
  width: 580px;
  margin-bottom: 25px;
}
