* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 56px 200px;
  align-items: center;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}

.nav-title-span {
  color: #fd6e0a;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-left: 50px;
}

ul li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

.btn-primary {
  color: #ffffff;
  background: #fd6e0a;
  border-radius: 5px;
  border: 0;
  padding: 12px 30px;
  font-weight: 700;
  font-size: 20px;
}
